*.pyc
__pycache__/
.env
firebase_admin.json
build/
.dart_tool/
packages/
.idea/
env/
__pycache__/
*.pyc
*.pyd
*.dll
*.lib
*.exe
*.so
*.zip
*.tar.gz
*.egg-info/
pi@*/
pi@192.168.179.238/
yolov5/